.navbar {
  background-color: #837C96;
}
.navbar .nav-item {
  font-size: 1.15rem;
  padding: 0 2.5em 0 2.5em;
}
.navbar .nav-img {
  border-radius: 5px;
  border: 2.5px outset #999;
}
.jumbotron {
  background-image: url('/images/sleeping-person.jpg');
  background-size: cover;
  color: white;
  height: 100vh;
  width: 100%;
}
.jumbotron .main-text {
  margin-top: 30vh;
}
@media only screen and (max-width: 820px) {
  .jumbotron .main-text {
    margin-top: 10vh;
  }
}
.jumbotron .main-text .question {
  font-family: 'Marcellus SC', serif;
  font-size: 6em;
}
.jumbotron .main-text .tagline {
  font-size: 2rem;
}
.jumbotron .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}
.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
.overflow-hidden {
  overflow: hidden;
}
.help-container {
  display: flex;
}
@media only screen and (max-width: 950px) {
  .help-container {
    display: block;
    text-align: center;
  }
}
.report-img {
  border-radius: 15px;
}
footer {
  background-color: #312450;
  backdrop-filter: saturate(180%) blur(20px);
  opacity: 0.6;
  width: 100%;
}
footer h5 {
  color: white;
  text-decoration: ;
}
footer a {
  text-decoration: none;
  color: black;
}
footer a:hover {
  opacity: 0.7;
  text-decoration: none;
}
