.site-header {
  background-color: #312450;
  backdrop-filter: saturate(180%) blur(20px);
  opacity: 0.7;
}
.site-header a {
  color: #999;
  transition: ease-in-out color 0.15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}
.nav-container {
  width: 80%;
}
.jumbotron {
  background-image: url('/images/sleeping-person.jpg');
  color: white;
  height: 100vh;
}
.jumbotron .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}
.container {
  max-width: 100%;
}
.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
.overflow-hidden {
  overflow: hidden;
}
footer {
  background-color: #312450;
  backdrop-filter: saturate(180%) blur(20px);
  opacity: 0.6;
  width: 100%;
}
footer a {
  text-decoration: none;
  color: black;
}
footer a:hover {
  opacity: 0.7;
  text-decoration: none;
}
