footer {
    background-color: #312450;
    backdrop-filter: saturate(180%) blur(20px);
    opacity: 0.6;
    width: 100%;

 .text-muted {
    color: #999;
    transition: ease-in-out color .15s;
  
     &:hover {
    color: #fff;
    text-decoration: none;
    }
  }
}