 .jumbotron {
    background-image: url('/images/sleeping-person.jpg');
    background-size: cover;
    color: white;
    height: 100vh;
    width: 100%;

  .main-text {
    margin-top: 50vh;
  }

  .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
  }
} 