  .flex-equal > * {
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      flex: 1;
    }
  }
  
  .overflow-hidden { 
    overflow: hidden; 
  }

.help-container {
  display: flex;

  @media only screen and (max-width: 950px) {
    display: block;
    text-align: center;
  } 
}

  .report-img {
    border-radius: 15px;
  }